.footer{
    padding: 67px 0 60px 0;
}

.footer__copyright {
    margin: 0;
    padding: 0;
    color: #545454;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 430px) {
.footer{
    margin: 0;
    padding: 48px 0 36px calc((100% - 282px) / 2); 
} 
}