.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-top: 45px;
  padding-bottom: 41px;
}

@media screen and (max-width: 430px) {
  .header {
    width: calc(100% + 38px);
    padding: 28px calc(100vw - 309px) 32px 27px;
  }
}
