.modal {
  display: none;
}

.modal_opened {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
}

.modal__container {
  position: relative;
  padding: 36px;
  border-radius: 10px;
  margin: auto;
  background-color: #fff;
}

.modal__container_type_preview {
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  background: transparent;
  padding: 0 0 68px 0;
}

.modal__heading {
  font-size: 24px;
  line-height: 29px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  max-width: 358px;
  margin: 0 0 54px 0;
  color: #000;
}

.modal__close-button {
  background: transparent url(../images/close.svg) center no-repeat;
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  padding: 0;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__save-button {
  background-color: #000;
  color: #fff;
  height: 50px;
  width: 358px;
  border-radius: 2px;
  border: none;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
}

.modal__save-button:hover {
  opacity: 0.8;
}

.modal__preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: flex;
}

.modal__preview-image-title {
  font-size: 12px;
  line-height: 15px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  padding-top: 10px;
  margin: 0;
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 25px 22px;
  }

  .modal__container_type_preview {
    padding: 0;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 76px;
  }

  .modal__save-button {
    height: 46px;
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }

  .modal__close-button {
    left: auto;
    right: 0;
    bottom: calc(100% + 15px);
    width: 26px;
    height: 26px;
  }
}

.modal__close-button_type_preview {
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 30px;
  height: 30px;
}
